[phases.setup]
nixPkgs = ["nodejs_20", "pnpm"]

[phases.install]
cmds = ["pnpm install --frozen-lockfile"]

[phases.build]
cmds = ["pnpm --filter @easyauth/shared build", "pnpm --filter @easyauth/api build"]

[start]
cmd = "pnpm --filter @easyauth/api start:prod"
